<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>36884706490-rkqik61m1h7jc18v4euj69o4amtkmp5d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.36884706490-rkqik61m1h7jc18v4euj69o4amtkmp5d</string>
	<key>API_KEY</key>
	<string>AIzaSyDK7gu5Twclu5nGz9RcclH4b19qiyb9vVI</string>
	<key>GCM_SENDER_ID</key>
	<string>36884706490</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>www.com.adong23664.myFitness</string>
	<key>PROJECT_ID</key>
	<string>myfitness-dd143</string>
	<key>STORAGE_BUCKET</key>
	<string>myfitness-dd143.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:36884706490:ios:53a1c1015aad40e59f7e83</string>
</dict>
</plist>